:root {
    --height-header: 80px;
    --width-sidebar: 240px;
    --width-sidebar-mini: 80px;
}
.site {
    background-color: aliceblue;
    min-height: 100vh;
    &__header {
        background-color: #fff;
        padding: 20px 0;
        height: var(--height-header);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        z-index: 20;
        border-radius: 0 0 12px 12px;
    }
    &__main {
        display: grid;
        background-color: #fff;
        height: calc(100vh - var(--height-header));

        &--full {
            grid-template-columns: var(--width-sidebar) auto;
            width: 100%;
        }
        &--mini {
            // width: var(--width-sidebar-mini);
            grid-template-columns: var(--width-sidebar-mini) auto;
        }
    }
    &__sidebar {
        // background-color: aquamarine;
        padding: 20px 0;

        &--full {
            width: var(--width-sidebar);
        }
        &--mini {
            width: var(--width-sidebar-mini);
        }
    }
    &__content {
        padding: 20px;
        overflow: hidden;
    }
    &__wrapper {
        height: 100%;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        &-content {
            position: relative;
            background-color: #fff;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 30px;
        }
        &::after,
        &::before {
            content: "";
            background-color: rgba(255, 255, 255, 0.938);
            position: absolute;
            left: 0;
            width: 100%;
            height: 20px;
            z-index: 1;
            padding-right: 10px;
        }
        &::after {
            top: 0;
        }
        &::before {
            bottom: 0;
        }
    }
}
:root {
    --scrollbarBg: rgba(255, 255, 255, 0.8);
    --scrollbarThumb: rgba(183, 184, 185, 0.8);
    --scrollbarWidth: 12px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);

    --widthContainer: 1240px;
    --gapGrid: 10px;
}
.site__wrapper-content {
    // z-index: 100;
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}
.site__wrapper-content::-webkit-scrollbar {
    width: var(--scrollbarWidth);
    z-index: 100;
}
.site__wrapper-content::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}
.site__wrapper-content::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}

.m-container {
    max-width: var(--widthContainer);
    background-color: antiquewhite;
    padding: 0 15px;
    margin: 0 auto;
    &__full {
        padding: 0;
    }
}
.m-row {
    display: flex;
    // flex-wrap: wrap;
    gap: var(--gapGrid);
    background-color: aquamarine;
}
.m-col {
    flex: 1 1 100%;
    background-color: brown;
}
.m-col-2 {
    flex: 1 1 calc(50% - var(--gapGrid) / 2);
    background-color: blueviolet;
}
.m-col-3 {
    flex: 1 1 calc(33.19% - var(--gapGrid) / 2);
    background-color: rgb(95, 180, 219);
}
.m-col-4 {
    flex: 0 0 calc(24.794% - var(--gapGrid) / 2);
    background-color: rgb(153, 219, 147);
}
.m-col-5 {
    flex: 0 0 calc(19.753% - var(--gapGrid) / 2);
    background-color: rgb(224, 99, 214);
}
.m-col-6 {
    flex: 0 0 calc(16.392% - var(--gapGrid) / 2);
    background-color: rgb(139, 54, 68);
}
.m-col-7 {
    flex: 0 0 calc(13.991% - var(--gapGrid) / 2);
    background-color: rgb(226, 233, 126);
}
.m-col-8 {
    flex: 0 0 calc(12.191% - var(--gapGrid) / 2);
    background-color: rgb(219, 145, 33);
}
.m-col-9 {
    flex: 0 0 calc(10.79% - var(--gapGrid) / 2);
    background-color: rgb(68, 6, 53);
}
.m-col-10 {
    flex: 0 0 calc(9.67% - var(--gapGrid) / 2);
    background-color: rgb(201, 184, 196);
}
.m-col-11 {
    flex: 0 0 calc(8.752% - var(--gapGrid) / 2);
    background-color: rgb(8, 83, 61);
}
.m-col-12 {
    flex: 0 0 calc(7.989% - var(--gapGrid) / 2);
    background-color: rgb(245, 112, 3);
}
