.select-controll {
    position: relative;
}

.select-controll .append-icon {
    top: 17px;
    font-size: 16px;
    line-height: 12px;
}
.select-controll .append-icon.small {
    top: 11px;
}

select.active,
.form-select.active {
    border: 1px solid var(--PB-light-gray-color);
}

select.error,
.form-select.error {
    border: 1px solid var(--PB-error-color);
}

.options-list {
    filter: drop-shadow(0px 1px 12px rgba(0, 0, 0, 0.12));
    border-radius: 8px;
    color: var(--PB-dark-gray-color);
    position: absolute;
    top: 100%;
    z-index: 100;
    background: white;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
}
.options-list li {
    padding: 8px;
    cursor: pointer;
    display: flex;
}
.options-list li span {
    width: 100%;
    overflow: hidden;
}

.options-list li:hover {
    background-color: var(--lightlight-gray-color);
}
.options-list li.active {
    background-color: var(--lightlight-gray-color);
    color: var(--PB-dark-gray-color);
}
.options-list li.active:before {
    content: none;
}

:root {
    --ms-font-size: 1rem;
    --ms-line-height: 1.375;
    --ms-bg: #ffffff;
    --ms-bg-disabled: #f3f4f6;
    --ms-border-color: #d1d5db;
    --ms-border-width: 1px;
    --ms-radius: 4px;
    --ms-py: 0.5rem;
    --ms-px: 0.875rem;
    --ms-ring-width: 3px;
    --ms-ring-color: #10b98130;
    --ms-placeholder-color: #9ca3af;
    --ms-max-height: 10rem;

    --ms-spinner-color: #10b981;
    --ms-caret-color: red;
    --ms-clear-color: #999999;
    --ms-clear-color-hover: #000000;

    --ms-tag-font-size: 0.875rem;
    --ms-tag-line-height: 1.25rem;
    --ms-tag-font-weight: 600;
    --ms-tag-bg: #10b981;
    --ms-tag-bg-disabled: #9ca3af;
    --ms-tag-color: #ffffff;
    --ms-tag-color-disabled: #ffffff;
    --ms-tag-radius: 4px;
    --ms-tag-py: 0.125rem;
    --ms-tag-px: 0.5rem;
    --ms-tag-my: 0.25rem;
    --ms-tag-mx: 0.25rem;

    --ms-tag-remove-radius: 4px;
    --ms-tag-remove-py: 0.25rem;
    --ms-tag-remove-px: 0.25rem;
    --ms-tag-remove-my: 0rem;
    --ms-tag-remove-mx: 0.125rem;

    --ms-dropdown-bg: #ffffff;
    --ms-dropdown-border-color: #d1d5db;
    --ms-dropdown-border-width: 1px;
    --ms-dropdown-radius: 4px;

    --ms-group-label-py: 0.3rem;
    --ms-group-label-px: 0.75rem;
    --ms-group-label-line-height: 1.375;
    --ms-group-label-bg: #e5e7eb;
    --ms-group-label-color: #374151;
    --ms-group-label-bg-pointed: #d1d5db;
    --ms-group-label-color-pointed: #374151;
    --ms-group-label-bg-disabled: #f3f4f6;
    --ms-group-label-color-disabled: #d1d5db;
    --ms-group-label-bg-selected: #059669;
    --ms-group-label-color-selected: #ffffff;
    --ms-group-label-bg-selected-pointed: #0c9e70;
    --ms-group-label-color-selected-pointed: #ffffff;
    --ms-group-label-bg-selected-disabled: #75cfb1;
    --ms-group-label-color-selected-disabled: #d1fae5;

    --ms-option-font-size: 1rem;
    --ms-option-line-height: 1.375;
    --ms-option-bg-pointed: #ffffff;
    --ms-option-color-pointed: #1f2937;
    --ms-option-bg-selected: #10b981;
    --ms-option-color-selected: #ffffff;
    --ms-option-bg-disabled: #ffffff;
    --ms-option-color-disabled: #d1d5db;
    --ms-option-bg-selected-pointed: #26c08e;
    --ms-option-color-selected-pointed: #ffffff;
    --ms-option-bg-selected-disabled: #ffffff;
    --ms-option-color-selected-disabled: #d1fae5;
    --ms-option-py: 0.5rem;
    --ms-option-px: 0.75rem;

    --ms-empty-color: #4b5563;
}
.multiselect-blue {
    --ms-tag-bg: #dbeafe;
    --ms-tag-color: #2563eb;
    --ms-bg: yellow;
    &.multiselect-caret {
        background-color: red;
    }
    .multiselect-dropdown {
        overflow-y: auto;
        scrollbar-width: 12px !important;
        scrollbar-color: red !important;
    }

    &.multiselect-dropdown ::-webkit-scrollbar {
        width: 12px !important;
        z-index: 100;
    }
    &.multiselect-dropdown ::-webkit-scrollbar-track {
        background: red !important;
        border-radius: 10px !important;
    }
    &.multiselect-dropdown ::-webkit-scrollbar-thumb {
        background-color: green !important;
        border-radius: 10px !important;
        border: 1px solid blue !important;
    }
}
.multiselect-dropdown {
}
