@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s25737');
  src:  url('fonts/icomoon.eot?s25737#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s25737') format('truetype'),
    url('fonts/icomoon.woff?s25737') format('woff'),
    url('fonts/icomoon.svg?s25737#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-converted:before {
  content: "\e902";
}
.icon-reports-converted:before {
  content: "\e901";
}
.icon-home-4-converted:before {
  content: "\e900";
}
